    
header {
    width: 100%;
    height: 0;
    position:sticky;
    bottom: 0;
    left: 100%;
    text-align: center;
}

body {
    margin: 0; padding: 0;
    }
    
    .subSub {
    position: relative; 
    top: 0px;
    /* word-spacing: 5px;
    letter-spacing: normal; */
    }

header {
    
    
    width: 100%; 
	left: 50%; 
	top: 0; 
	position: fixed; 
    
    
}

    ol {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      ol {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
      }

      ol {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        list-style: none;
        padding: 0;
      }

      .first-day {
        grid-column-start: 5
      }


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

#current_date {
    margin: 200px;
    padding: 5px;
    color: aliceblue;
    font-size: 30px;
    display:block;
    flex-direction:column;
    line-height: 20pt;
    width: 300px;
    
}

.hora {
    background: none;
    line-height: 20pt;
}

body {
    display: grid;
    grid-area: auto;

}


    #footer {
        width: 100%;
        height: 81px;
        position:absolute;
        bottom: 0;
        left: 0;
        text-align: center;
    }
    header {
        text-decoration: none;
    }

    .cambiamosDisplay {
        display: inline-table;  
        text-decoration: none;  
    }

    .subSub {
        text-decoration: none;
    }

    nav {
        display: flex;
        flex-direction: row; 
        text-decoration: none;
        text-align: center;
        font-size: 18px;    
    }
    